:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .result-card {
        width: 250px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 10px;
        padding: 10px;
    }

    .result-image {
        height: auto;
        width: auto;
    }

    .result-description {
        font-size: 16px;
        font-weight: bold;
        color: black;
        margin-bottom: 0;
    }

    .result-date {
        font-size: 12px;
        font-weight: lighter;
        color: black;
    }
}
